*{
    box-sizing: border-box;
}
.main-nav{
    height: 44px;
    width: 100%;
    padding: 0px !important;
    box-sizing: border-box;
    background: #eee;
}

.icon{
    padding: 10px;
    display:inline-block;
    vertical-align: bottom;
    z-index: 10;
}

.bg-fff{
    background:#fff;
}

.icon:hover{
    background: #fff;
}

.card-tage{
    padding: 20px 20px 0px 20px;
}

.perdday{
    font-size: 14px;
    color: skyblue;
}

.friend-profile{
    width: 80px;
    height: 80px;
}

.login-frame{
    max-width:400px;
    width: 40%;
    min-width: 300px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
}

.signup-button{
    text-decoration:none;
    color:gainsboro;
}

.signup-button:active{
    text-decoration-line:underline;
    color:black;
}

.side-bar{
    height:100vh;
    width: 300px;
    background: #aaa;
    float:right;
    position:fixed;
    z-index:99;
    right:0
}

.bar-content > div{
    padding-bottom: 15px;
}

.bar-content > div > a{
    text-decoration: none;
    color:black;
}

.bar-close{
    z-index:100;
    display:flex;
    float:right;
    position:absolute;
    right:15px;
    top:15px
}

.bar-close:hover, .bar-content > div:hover, .bar-content > div > a:hover {
    color:white;
}

.non-show{
    display: none;
}

.item-bg{
    width: 60vw;
    min-width: 375px;
    padding: 20px;
    text-align: center ;
    border-radius: 10px;
}

.item-form{
    padding: 20px 0px 0px 10px;
}

.img-100x100{
    width: 100px;
    height: 100px;
}
.img-24x24{
    width: 24px;
    height: 24px;
}