{% extends 'base.html'%}

{% block content %}
    {% block item_info %}
        <div class="container">
            <img src="" alt="">
            <h2 class="m-5 text-center">{{item_info.owner.name}}님이 받고싶어하는 선물</h2>
            <div class="mb-3 rounded row" id="item-main ">
                <div class="col-md-5">
                    <img class="rounded w-100" style="background-size:cover;" src="{{item_info.img_url}}">
                </div>
                <div class="col-md-6 rounded bg-light mx-3 p-3">
                    <h3 class="item-name">{{item_info.name}}</h3>
                    <hr class="p-1">
                    <div class="d-flex justify-content-around row mb-3">
                        <h5 class="col-4">가격: {{item_info.price}}</h5>
                        <p class="col text-left">{{item_info.fund_rate}}% 할당됨 </p>
                    </div>
                    <h5>진심으로 축하해주신분들</h5>
                    <div class="bg-white d-flex justify-content-end p-2 pre-scrollable" style="height: 50%">
                        <table class="w-100">
                            <thead>
                            <tr class="text-center">
                                <th class="w-50">이름</th>
                                <th class="w-50">후원금</th>
                            </tr>
                            </thead>
                            <tbody class="text-right">
                                <tr>
                                    <td class="text-center">홍길동</td>
                                    <td>100,000원</td>
                                </tr>
                                <tr>
                                    <td class="text-center">김철수</td>
                                    <td>50,000원</td>
                                </tr>
                        {% block pay_info %}
                        {% for i in  pay_info%}
                                <tr>
                                    <td class="text-center">{{i.name}}</td>
                                    <td>{{i.pay}}원</td>
                                </tr>
                        {% endfor %}
                        {% endblock pay_info %}
                                <tr style="border-top: 2px solid black">
                                    <td class="text-center"><b>전체 가격</b></td>
                                    <td>{{item_info.total_fund}}원</td>
                                </tr>
                            </tbody>
                        </table>     
                    </div>
                    <div class="mt-2 d-flex justify-content-between">
                        <input type="text" class="form-control w-75 non-show" placeholder="금액입력" id="step">
                        <button class="btn btn-success" onclick="attend()" id="attend">참여하기</button>
                        <button class="btn btn-primary non-show" id="pay">선물하기</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function attedn(){
                $('#attend').hide();
                $('#step, #pay').show();
            }
        </script>
    {% endblock item_info%}
{% endblock content%}
