<script>
    //-- sideBar--
    function sideBarShow(){
        $(".side-bar").show()
        //개인 프로필, 개인정보, 위시리스트 추가등등 만들기 -->
        //미리 만들어둔 html을 보여주고 안보여주고하는식으로 -->
    };
    function sideBarHide(){
        $(".side-bar").hide()
    };
    //--------
    //-- 로그아웃--
    function logOut(){
        if (confirm('진짜 로그아웃 하십니까?')){
            document.cookie = 'token' + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=[something];"
            window.localStorage.removeItem('username')
            window.localStorage.removeItem('userimg')
            location.href = '../login'
        }
        else {
            console.log("로그아웃안함")
        }
    };
    //----------
    //--token 확인 및 유저정보 받기
    $(document).ready(function(){
        try {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith("token="))
                .split('=')[1];
                $.ajax({
                    type: "GET",
                    url: "/nav",
                    success: function(response) {
                        localStorage.setItem('username',response.user_name);
                        localStorage.setItem('userimg',response.user_img);
                        console.log(response.user_img)
                        $('#var-name, #username').text(response.user_name);
                        //$('#var-img, #userimg').attr('src', "../"+response.user_img);
                        $('#var-img, #userimg').attr('src', response.user_img);
                    },
                    error: function(error) {
                        alert("Invalid credentials");
                    }
                });
                $('#profile').show()
                $.ajax ({
                    type: "GET",
                    url: "/notify_get",
                    success: function(response) {
                        if (response.result === 'success') {
                            let requests = response.all_requests;
                            let req_num = response.request_num;
                            $('.badge').html('');
                            $('.badge').text(req_num);

                            for (let i=0; i<req_num; i++) {
                                let request = requests[i];
                                let req_id = request['_id'];
                                let name = request['requester_name'];
                                let content = request['content'];
                                let temp_html = '';
                                if (content === "request") {
                                    temp_html =
                                    `<div class="mx-2 my-1 p-auto border rounded" id="${i}">
                                        <div class="p-2 d-flex justify-content-end" id="alarm-confirm">
                                            <p class="m-auto text-center">${name}이(가) 친구 신청을 보냈습니다.</p>
                                            <div class="justifly-content-end">
                                                <span class="btn btn-success mr-1" onclick="respondRequest(true, '${req_id}')">수락</span>
                                                <span class="btn btn-danger" onclick="respondRequest(false, '${req_id}')">거절</span>
                                            </div>
                                        </div>
                                    </div>`;
                                } else if (content == "accepted") {
                                    temp_html =
                                    `<div class="mx-2 my-1 p-auto border border-success rounded" id=${i}>
                                        <div class="p-2 d-flex justify-content-end" id="alarm-yes">
                                            <p class="m-auto pr-3">${name}이(가) 친구 신청을 수락하였습니다.</p>
                                            <div class="d-flex justify-content-end">
                                                <span class="btn btn-primary " onclick="checkNotification('${req_id}')">확인</span>
                                            </div>
                                        </div>
                                    </div>`;
                                } else {
                                    temp_html =
                                    `<div class="mx-2 my-1 p-auto border border-danger rounded" id=${i}>
                                        <div class="p-2 d-flex justify-content-end" id="alarm-no">
                                            <p class="m-auto pr-3">${name}이(가) 친구 신청을 거절하였습니다.</p>
                                            <div class="d-flex justify-content-end">
                                                <span class="btn btn-primary" onclick="checkNotification('${req_id}')">확인</span>
                                            </div>
                                        </div>
                                    </div>`;
                                }
                                console.log("여기는")
                                $('.modal-body').append(temp_html);
                                console.log("여기가?")
                                
                            }
                        } else {
                            alert(response.message);
                        }
                    },
                });
            }
        catch (error) {
            $('#profile').hide()
        }
    });
    //--알림 모달창 보여주기
    function alarmShow(){
        $("#alarm-list").show()
    }
    function alarmHide(){
        $("#alarm-list").hide()
        console.log(this.id)
    }
    //--친구 찾기창 보여주
    function friendShow(){
        $("#friend-find").toggle();
    }
    function mv_addItem(){
        var currentUrl = window.location.href;
        var newUrl = currentUrl.replace(/\/[^\/]*$/, '/addItem');
        window.location.href = newUrl;
    }
    //--친구 추가 요청 보내기
    function sendRequest() {
        let friend_id = $('#friend_id').val();
        $.ajax ({
            type: "GET",
            url: "/send_request/"+friend_id,
            success: function(response) {
                if (response.result === 'success') {
                    console.log(1);
                    alert(response.message);
                } else {
                    alert(response.message);
                }
            }
        });
    }
    //--수락/거절 응답 전달하기
    function respondRequest( boolean, id) {
        let action ='';
        if (boolean) {
            action = 'accepted';
        } else {
            action = 'declined';
        };
        console.log(action)
        $.ajax ({
            type: "POST",
            url: '/respond_request',
            data: {'id_give': id, 'action': action},
            success: function(response) {
                if (response.result === 'success') {
                    console.log(response.message);
                }
            }
        });
        $("#"+$(this).parent().parent().parent().attr('id')).hide();
        console.log(1)
    }
    //--응답 확인하기
    function checkNotification(id) {
        $.ajax ({
            type: "POST",
            url: '/notify_check',
            data: {'id_give':id},
            success: function(response) {
                if (response.result === 'success') {
                    console.log(response.message);
                }
            }
        });
    }
</script>
<!-- 사이드바 -->
<div class="side-bar justify-content-center text-center non-show">
    <div class="m-4" id="bar-profile">
        <div class="bar-close" style="background: none !important;" id="close" onclick="sideBarHide()">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <a aria-hidden="true" style="font-size:30px;">&times;</a>
            </button>
        </div>
        <img class="rounded-circle d-inline img-100x100" src="../static/img/default.png" id="var-img"/>
        <p class="px-2" id="var-name">가나다라마바사</p>
    </div>
    <hr>
    <div class="bar-content">
        <div id="addlist" onclick="mv_addItem()">위시리스트 만들기</div>
        <div id="alarm-follow" onclick="alarmShow()">알람
            <span class="badge badge-secondary">New</span>
            <!-- 알람 모달 -->
            <div id="alarm-list" onclick="alarmHide()" class="modal non-show" style="color:black !important; background-color:rgba(0,0,0,0.8);" tabindex="-1">
                <div class="modal-dialog" onclick="event.stopPropagation()">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">알람</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" onclick="alarmHide()" >&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
        <div id="addlist" onclick="friendShow()">친구추가</div>
        <!-- 친구찾기 -->
            <div class="non-show bg-light pb-0 mt-2 non-show" id="friend-find">
                <div class="input-group p-2 ">
                    <input type="text" class="form-control" id="friend_id" placeholder="친구 아이디" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="sendRequest()">찾기</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bar-content" onclick="logOut()" id="logout">로그아웃</div>
            <!--  -->
        </div>
    </div>
</div>
<!-- nav -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a href="/" class="navbar-brand mb-0 h1">위시리스트</a>
    <div class="non-block" onclick="sideBarShow()" id="profile">
        <img class="rounded-circle float-left img-24x24" src="../static/img/default.png" id="userimg">
        <div class="float-right px-2" id="username">profile</div>
    </div>
</nav>