<script>
    $(Document).ready(function(){
        $(".side-bar").hide()
    });
    var count = 0;
    function sideBarShow(){
        $(".side-bar").show()
        //개인 프로필, 개인정보, 위시리스트 추가등등 만들기 -->
        //미리 만들어둔 html을 보여주고 안보여주고하는식으로 -->
    };

    function sideBarHide(){
        $(".side-bar").hide()
    };

    function logOut(){
        if (confirm('진짜 로그아웃 하십니까?')){
            document.cookie.split(';');
            document.deleteCookie('token')
            location.reload()
        }
        else {
            console.log("로그아웃안함")
        }
    };
</script>

<div class="side-bar justify-content-center text-center">
    <div class="m-4" id="profile">
        <div class="bar-close" id="close" onclick="sideBarHide()">
            X
        </div>
        <img class="rounded-circle d-inline" src="https://via.placeholder.com/100x100" alt="">
        <p class="px-2" id="profile">profile</p>
    </div>
    <hr>
    <div class="bar-content">
        <div id="edit-profile">개인정보수정</div>
        <div id="addlist">위시리스트 만들기</div>
        <div onclick="logOut()" id="logout">로그아웃</div>
    </div>
</div>
<nav class="navbar navbar-light bg-light justify-content-between">
    <span class="navbar-brand mb-0 h1">위시리스트</span>
    <div onclick="sideBarShow()" class="d-inline" id="profile">
        <img class="rounded-circle float-left " src="https://via.placeholder.com/24x24" alt="">
        <div class="float-right px-2" id="profile">profile</div>
    </div>
</nav>
