{% extends "base.html" %}

{% block content%}
        <script>
            function signUp() {
                console.log('zzzz')
                let new_id = $('#signupId').val();
                let new_pw = $('#signupPw').val();
                let new_name = $('#signupName').val();
                let new_mail = $('#signupEmail').val();
                let imgInput = $('#signupImg')[0];
                console.log(imgInput.files[0])
                console.log(new_id)

                let formData = new FormData();
                formData.append('id_give', new_id);
                formData.append('pw_give', new_pw);
                formData.append('name_give', new_name);
                formData.append('mail_give', new_mail);
                formData.append('img_give', imgInput.files[0]);

                $.ajax({
                    type: "POST",
                    url: "/signup",
                    enctype: "multipart/form-data", //form data 설정
                    data: formData,
                    processData: false, // add this here
                    contentType: false,
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.href = "/";
                        } else {
                            alert(response["msg"]);
                        }
                    }
                })
            }
        </script>

        <a class="signup-button" href="/"> &lt;Back to Login</a>

        <div class="login-frame mx-auto" id="login-container">
            <h3 class="mb-4"> Sign Up </h3>
            <div class="form-group">
                <label for="exampleInputEmail1">Id</label>
                <input type="text" class="form-control" id="signupId" aria-describedby="idHelp" placeholder="ID" pattern="[a-zA-Z0-9]+" required>
                <small id="idHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="signupPw" aria-describedby="pwHelp" placeholder="PW" pattern="[a-zA-Z0-9]+" required>
                <small id="pwHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="text" class="form-control" id="signupName" placeholder="name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">E-mail</label>
                <input type="email" class="form-control" id="signupEmail" placeholder="e-mail" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">image</label>
                <input type="file" id="signupImg">
            </div>
            <button onclick="signUp()" class="btn btn-primary " id="login-button">Sign Up</button>
        </div>
    </div>
{% endblock content %}
