{% extends "base.html" %}

{% block content%}
        <script>
            function signUp() {
                let new_id = $('#signupId').val();
                let new_pw = $('#signupPw').val();
                let new_name = $('#signupName').val();
                let new_mail = $('#signupEmail').val();

                $.ajax({
                    type: "POST",
                    url: "/signup",
                    data: {id_give : new_id, pw_give : new_pw, name_give : new_name, mail_give : new_mail},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.href = "/";
                        } else {
                            alert(response["msg"]);
                        }
                    }
                })
            }
        </script>
        <h2>Sign Up</h2>
        <form id="signupForm">
            <input type="text" id="signupId" placeholder="Username">
            <input type="password" id="signupPw" placeholder="Password">
            <input type="text" id="signupName" placeholder="Name">
            <input type="email" id="signupEmail" placeholder="E-mail">
            <button type="button" onclick="signUp()">Sign Up</button>
        </form>

        <a href="/">Back to Login</a>
{% endblock content %}
